
<h1 class="pink-text darken-1">
  <%= "#{@user.name}'s Events" %>
</h1>
<br/>
<div class="chip pink lighten-5">
  <%= link_to 'All Attendees', event_path %>
</div>
<div class="chip pink lighten-5">
  <%= link_to 'Create New Event', new_event_path %>
</div>

<h3>Upcoming Events</h3>
<ul class="collection">
  <%= render 'event', events: @upcoming_events %>
</ul>

<br/>
<br/>

<h3>Previous Events</h3>
<ul class="collection">
  <%= render 'event', events: @previous_events %>
</ul>



