
<h2>
  <%= "#{@user.name}'s Events" %>
</h2>

<h2>Upcoming Events</h2>
<% @user.events.each  do |event| %>
  <% if event.event_date != nil && event.event_date >= Time.now %>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.creator_id %></li>
    <li><%= event.event_date %></li>
  <% end %>
<% end %>

<br/>
<br/>

<h2>Previous Events</h2>
<% @user.events.each  do |event| %>
  <% if event.event_date != nil && event.event_date < Time.now %>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.creator_id %></li>
    <li><%= event.event_date %></li>
  <% end %>
<% end %>

<%= link_to 'All Members', event_path %>
