<h2 ><%= @user.name %>'s Profile</h2>
  <div>
    <h3>Hosted Events: <%= @user.events.count %></h3>
    <ul>
      <% if @user.events.empty? %>
        <p>User is not hosting</p>
      <% else %>
        <% @user.events.each do |event| %>
          <li><%=link_to event.name, event_path(event) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div>
    <h3>Attended Events: <%= @user.attended_events.count %></h3>
    <ul>
      <% if @user.attended_events.empty? %>
        <p>User is not hosting</p>
      <% else %>
        <% @user.attended_events.each do |event| %>
          <li><%=link_to event.name, event_path(event) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>


