<h1>List of all events - events#index</h1>

<% if !flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>

<div>
  <%= link_to 'Sign In', new_session_path %>
  <%= link_to 'Sign Up', new_user_path %>
</div>


<div>
  <% if @user %>
    <%= link_to 'Create Events', new_event_path %>
  <% else %>
    <%= link_to 'Create Events', new_session_path %>
  <% end %>
</div>

<div>
  <% if @user %>
    <%= link_to @user.name, user_path(@user) %>
  <% end %>
</div>



<h2>Upcoming Events</h2>
<% @upcoming.each  do |event| %>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.creator_id %></li>
    <li><%= event.event_date %></li>
<% end %>

<br/>
<br/>

<h2>Previous Events</h2>
<% @past.each  do |event| %>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.creator_id %></li>
    <li><%= event.event_date %></li>
<% end %>


<h2>************</h2>

