<h1>List of all events - events#index</h1>

<div>
  <%= link_to 'Sign In', new_session_path %>
  <%= link_to 'Sign Up', new_user_path %>
</div>

<!--<div>-->
  <%# if session[:user_id] ==  %>
    <%#= link_to 'Create Events', new_event_path %>
  <%# end %>
<!--</div>-->


<h2>Upcoming Events</h2>
<% @events.each  do |event| %>
  <% if event.event_date != nil && event.event_date >= Time.now %>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.creator_id %></li>
    <li><%= event.event_date %></li>
  <% end %>
<% end %>

<br/>
<br/>

<h2>Previous Events</h2>
<% @events.each  do |event| %>
  <% if event.event_date != nil && event.event_date < Time.now %>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.creator_id %></li>
    <li><%= event.event_date %></li>
  <% end %>
<% end %>







<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Host</th>-->
<!--      <th>Description</th>-->
<!--      <th>Date</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <h3>Upcoming Events</h3>-->
    <%# @events.each do |event| %>
      <%# if event.event_date != nil && event.event_date >= Time.now %>
<!--        <tr>-->
<!--          <td> <%#= event.creator.name %> </td>-->
<!--          <td> <%#= event.name %> </td>-->
<!--          <td> <%#= event.description %></td>-->
<!--          <td> <%#= event.event_date %></td>-->
<!--        </tr>-->
      <%# end %>
    <%# end %>

<!--    <h3>Past Events</h3>-->
    <%# @events.each do |event| %>
    <%# if event.event_date != nil && event.event_date < Time.now %>
<!--      <tr>-->
<!--        <td> <%#= event.creator.name %> </td>-->
<!--        <td> <%#= event.name %> </td>-->
<!--        <td> <%#= event.description %></td>-->
<!--        <td> <%#= event.event_date %></td>-->
<!--      </tr>-->
    <%# end %>
  <%# end %>
<!--  </tbody>-->
<!--</table>-->


