<br/><br/>
<h1>Create New Event</h1>

<% if !flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>

<%= form_with model: @event do |form| %>
   <%= form.label :name, "Name:" %> <br/>
  <%= form.text_field :name %><br/>
  <%= form.label :description, "Title:" %><br/>
  <%= form.text_area :description, size: "60x10" %><br/>
  <%= form.label :event_date, "Date:" %><br/>
  <%= form.date_field :event_date%><br/><br/>
  <%= form.submit %>
<% end %>